1. Загрузка данных

In [10]:
import pandas as pd
df = pd.read_parquet(r"C:\Users\user\PycharmProjects\Home-work-2-0\employee_attrition_processed.parquet")
df.head
#Здесь выполняется загрузка предварительно обработанного датасета в формате Parquet. Parquet — это быстрый и эффективный формат хранения табличных данных, оптимизированный для анализа.

<bound method NDFrame.head of       Age Attrition     BusinessTravel  DailyRate              Department  \
0      41       Yes      Travel_Rarely       1102                   Sales
1      49        No  Travel_Frequently        279  Research & Development
2      37       Yes      Travel_Rarely       1373  Research & Development
3      33        No  Travel_Frequently       1392  Research & Development
4      27        No      Travel_Rarely        591  Research & Development
...   ...       ...                ...        ...                     ...
1465   36        No  Travel_Frequently        884  Research & Development
1466   39        No      Travel_Rarely        613  Research & Development
1467   27        No      Travel_Rarely        155  Research & Development
1468   49        No  Travel_Frequently       1023                   Sales
1469   34        No      Travel_Rarely        628  Research & Development

      DistanceFromHome  Education EducationField  EmployeeCount  \
0                    1          2  Life Sciences              1
1                    8          1  Life Sciences              1
2                    2          2          Other              1
3                    3          4  Life Sciences              1
4                    2          1        Medical              1
...                ...        ...            ...            ...
1465                23          2        Medical              1
1466                 6          1        Medical              1
1467                 4          3  Life Sciences              1
1468                 2          3        Medical              1
1469                 8          3        Medical              1

      EmployeeNumber  ...  RelationshipSatisfaction StandardHours  \
0                  1  ...                         1            80
1                  2  ...                         4            80
2                  4  ...                         2            80
3                  5  ...                         3            80
4                  7  ...                         4            80
...              ...  ...                       ...           ...
1465            2061  ...                         3            80
1466            2062  ...                         1            80
1467            2064  ...                         2            80
1468            2065  ...                         4            80
1469            2068  ...                         1            80

      StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
0                    0                  8                      0
1                    1                 10                      3
2                    0                  7                      3
3                    0                  8                      3
4                    1                  6                      3
...                ...                ...                    ...
1465                 1                 17                      3
1466                 1                  9                      5
1467                 1                  6                      0
1468                 0                 17                      3
1469                 0                  6                      3

     WorkLifeBalance  YearsAtCompany YearsInCurrentRole  \
0                  1               6                  4
1                  3              10                  7
2                  3               0                  0
3                  3               8                  7
4                  3               2                  2
...              ...             ...                ...
1465               3               5                  2
1466               3               7                  7
1467               3               6                  2
1468               2               9                  6
1469               4               4                  3

      YearsSinceLastPromotion  YearsWithCurrManager
0                           0                     5
1                           1                     7
2                           0                     0
3                           3                     0
4                           2                     2
...                       ...                   ...
1465                        0                     3
1466                        1                     7
1467                        0                     3
1468                        0                     8
1469                        1                     2

[1470 rows x 35 columns]>

In [4]:
#2. Оценка структуры данных
print(df.info())
print(df.describe(include='all'))
print("Количество строк и колонок:", df.shape)
print("Колонки:", df.columns.tolist())
#df.info() — выводит список всех столбцов, их типы, количество непустых значений.
#df.describe(include='all') — вычисляет основные статистики по всем столбцам (среднее, min/max, уникальные значения) — показывает диапазоны и вариативность, помогает заметить странности.
#df.shape — число строк и столбцов, сразу оценивает размер выборки.
#df.columns.tolist() — перечень всех признаков — удобно для ориентации в датасете.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   category
 2   BusinessTravel            1470 non-null   category
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   category
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   category
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   category
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   category
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   category
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   category
 22  OverTime                  1470 non-null   category
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: category(9), int64(26)
memory usage: 313.1 KB
None
                Age Attrition BusinessTravel    DailyRate  \
count   1470.000000      1470           1470  1470.000000
unique          NaN         2              3          NaN
top             NaN        No  Travel_Rarely          NaN
freq            NaN      1233           1043          NaN
mean      36.923810       NaN            NaN   802.485714
std        9.135373       NaN            NaN   403.509100
min       18.000000       NaN            NaN   102.000000
25%       30.000000       NaN            NaN   465.000000
50%       36.000000       NaN            NaN   802.000000
75%       43.000000       NaN            NaN  1157.000000
max       60.000000       NaN            NaN  1499.000000

                    Department  DistanceFromHome    Education EducationField  \
count                     1470       1470.000000  1470.000000           1470
unique                       3               NaN          NaN              6
top     Research & Development               NaN          NaN  Life Sciences
freq                       961               NaN          NaN            606
mean                       NaN          9.192517     2.912925            NaN
std                        NaN          8.106864     1.024165            NaN
min                        NaN          1.000000     1.000000            NaN
25%                        NaN          2.000000     2.000000            NaN
50%                        NaN          7.000000     3.000000            NaN
75%                        NaN         14.000000     4.000000            NaN
max                        NaN         29.000000     5.000000            NaN

        EmployeeCount  EmployeeNumber  ...  RelationshipSatisfaction  \
count          1470.0     1470.000000  ...               1470.000000
unique            NaN             NaN  ...                       NaN
top               NaN             NaN  ...                       NaN
freq              NaN             NaN  ...                       NaN
mean              1.0     1024.865306  ...                  2.712245
std               0.0      602.024335  ...                  1.081209
min               1.0        1.000000  ...                  1.000000
25%               1.0      491.250000  ...                  2.000000
50%               1.0     1020.500000  ...                  3.000000
75%               1.0     1555.750000  ...                  4.000000
max               1.0     2068.000000  ...                  4.000000

       StandardHours  StockOptionLevel  TotalWorkingYears  \
count         1470.0       1470.000000        1470.000000
unique           NaN               NaN                NaN
top              NaN               NaN                NaN
freq             NaN               NaN                NaN
mean            80.0          0.793878          11.279592
std              0.0          0.852077           7.780782
min             80.0          0.000000           0.000000
25%             80.0          0.000000           6.000000
50%             80.0          1.000000          10.000000
75%             80.0          1.000000          15.000000
max             80.0          3.000000          40.000000

        TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
count             1470.000000     1470.000000     1470.000000
unique                    NaN             NaN             NaN
top                       NaN             NaN             NaN
freq                      NaN             NaN             NaN
mean                 2.799320        2.761224        7.008163
std                  1.289271        0.706476        6.126525
min                  0.000000        1.000000        0.000000
25%                  2.000000        2.000000        3.000000
50%                  3.000000        3.000000        5.000000
75%                  3.000000        3.000000        9.000000
max                  6.000000        4.000000       40.000000

       YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
count         1470.000000              1470.000000           1470.000000
unique                NaN                      NaN                   NaN
top                   NaN                      NaN                   NaN
freq                  NaN                      NaN                   NaN
mean             4.229252                 2.187755              4.123129
std              3.623137                 3.222430              3.568136
min              0.000000                 0.000000              0.000000
25%              2.000000                 0.000000              2.000000
50%              3.000000                 1.000000              3.000000
75%              7.000000                 3.000000              7.000000
max             18.000000                15.000000             17.000000

[11 rows x 35 columns]
Количество строк и колонок: (1470, 35)
Колонки: ['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department', 'DistanceFromHome', 'Education', 'EducationField', 'EmployeeCount', 'EmployeeNumber', 'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement', 'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'Over18', 'OverTime', 'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction', 'StandardHours', 'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion', 'YearsWithCurrManager']

In [5]:
#3. Оценка целостности и полноты данных
print(df.isnull().sum())
print(df.notnull().mean())
#df.isnull().sum() — считает количество пропусков (отсутствующих данных) по каждому столбцу.
#df.notnull().mean() — вычисляет долю заполненных значений для каждого признака, чтобы оценить полноту данных.

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64
Age                         1.0
Attrition                   1.0
BusinessTravel              1.0
DailyRate                   1.0
Department                  1.0
DistanceFromHome            1.0
Education                   1.0
EducationField              1.0
EmployeeCount               1.0
EmployeeNumber              1.0
EnvironmentSatisfaction     1.0
Gender                      1.0
HourlyRate                  1.0
JobInvolvement              1.0
JobLevel                    1.0
JobRole                     1.0
JobSatisfaction             1.0
MaritalStatus               1.0
MonthlyIncome               1.0
MonthlyRate                 1.0
NumCompaniesWorked          1.0
Over18                      1.0
OverTime                    1.0
PercentSalaryHike           1.0
PerformanceRating           1.0
RelationshipSatisfaction    1.0
StandardHours               1.0
StockOptionLevel            1.0
TotalWorkingYears           1.0
TrainingTimesLastYear       1.0
WorkLifeBalance             1.0
YearsAtCompany              1.0
YearsInCurrentRole          1.0
YearsSinceLastPromotion     1.0
YearsWithCurrManager        1.0
dtype: float64

In [6]:
#4. Оценка выбросов и аномалий
for col in df.select_dtypes("number"):
    q_low = df[col].quantile(0.01)
    q_high = df[col].quantile(0.99)
    outliers = df[(df[col] < q_low) | (df[col] > q_high)]
    print(f"{col}: выбросов {len(outliers)} ({len(outliers)/len(df)*100:.2f}%)")
#Для каждого числового столбца смотрим 1-й и 99-й процентили — так оцениваем “нормальный” диапазон данных.
#Значения, выходящие за эти границы, считаются выбросами (аномалиями), их количество и процент выводятся по каждому признаку.

#Вывод:
#Это помогает понять, есть ли у каких-то признаков подозрительно необычные значения, которые могут повлиять на анализ и результаты, например ошибки ввода, нетипичные случаи.

Age: выбросов 23 (1.56%)
DailyRate: выбросов 26 (1.77%)
DistanceFromHome: выбросов 0 (0.00%)
Education: выбросов 0 (0.00%)
EmployeeCount: выбросов 0 (0.00%)
EmployeeNumber: выбросов 30 (2.04%)
EnvironmentSatisfaction: выбросов 0 (0.00%)
HourlyRate: выбросов 0 (0.00%)
JobInvolvement: выбросов 0 (0.00%)
JobLevel: выбросов 0 (0.00%)
JobSatisfaction: выбросов 0 (0.00%)
MonthlyIncome: выбросов 30 (2.04%)
MonthlyRate: выбросов 30 (2.04%)
NumCompaniesWorked: выбросов 0 (0.00%)
PercentSalaryHike: выбросов 0 (0.00%)
PerformanceRating: выбросов 0 (0.00%)
RelationshipSatisfaction: выбросов 0 (0.00%)
StandardHours: выбросов 0 (0.00%)
StockOptionLevel: выбросов 0 (0.00%)
TotalWorkingYears: выбросов 24 (1.63%)
TrainingTimesLastYear: выбросов 0 (0.00%)
WorkLifeBalance: выбросов 0 (0.00%)
YearsAtCompany: выбросов 13 (0.88%)
YearsInCurrentRole: выбросов 13 (0.88%)
YearsSinceLastPromotion: выбросов 13 (0.88%)
YearsWithCurrManager: выбросов 14 (0.95%)